certifi==2019.11.28
chardet==3.0.4
Click==7.0
decorator==4.4.1
gitdb2==2.0.6
GitPython==3.0.5
idna==2.8
Jinja2==2.10.3
jsonpath-ng==1.4.3
lxml==4.4.2
MarkupSafe==1.1.1
oyaml==0.9
pan-python==0.16.0
pandevice==0.14.0
passlib==1.7.2
pathlib==1.0.1
ply==3.11
PyYAML==5.3
requests==2.22.0
requests-toolbelt==0.9.1
six==1.14.0
git+git://github.com/paloaltonetworks/skilletlib.git@develop#egg=skilletlib
smmap2==2.0.5
urllib3==1.25.7
xmldiff==2.4
xmltodict==0.12.0
